# ==================================================
# PlatformIO / ESP-IDF (firmware)
# ==================================================
firmware/.pio/

firmware/build/
firmware/sdkconfig.*
!firmware/sdkconfig.defaults
!firmware/sdkconfig.dev.defaults
firmware/compile_commands.json

# ==================================================
# Python / uv
# ==================================================
.venv/
__pycache__/
*.pyc

# ==================================================
# OS / Editors
# ==================================================
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# ==================================================
# Logs / temp
# ==================================================
*.log
.temp/
